.mui-iconcustom {
	font-family: Muiicons;
	font-size: 24px;
	font-weight: 400;
	font-style: normal;
	line-height: 2.2;
	display: inline-block;
	text-decoration: none;
	-webkit-font-smoothing: antialiased
}

html,body{
	width: 100%;
	height: 100%;
}
.backgroundcolor-white{
	background-color: #fff;

}

.screen-full
{
	width: 100%;
	height: 100%;
}

.mui-table-view-cell
{
	background-color: #fff!important;
	/*color: #65ce85 !important;*/
}
.mui-navbar-inner{
	background-color: #449afa;
}